<div class="student">
					<div class="container">
						<h3>For Student</h3>
							<div class="student-grids">
								<div class="col-md-4 student-grid">
									<img src="/images/p4.jpg" class="img-responsive" alt=""/>
									<h4>attendance procedure</h4>
									<p>Lorem ipsum dolor sit amet, consectscing elit. Maecenas moleset alldbus id ictum. Ut neque purus, sollic alitudin non ante ac, malesuada. condimentum libero.</p>
								</div>
								<div class="col-md-4 student-grid">
								<img src="/images/p5.jpg" class="img-responsive" alt="/">
									<h4>health & help</h4>
									<p>Lorem ipsum dolor sit amet, consectscing elit. Maecenas moleset alldbus id ictum. Ut neque purus, sollic alitudin non ante ac, malesuada. condimentum libero.</p>
								</div>
								<div class="col-md-4 student-grid">
								<img src="/images/p6.jpg" class="img-responsive" alt="/">
									<h4>course selection</h4>
									<p>Lorem ipsum dolor sit amet, consectscing elit. Maecenas moleset alldbus id ictum. Ut neque purus, sollic alitudin non ante ac, malesuada. condimentum libero.</p>
								</div>
								<div class="clearfix"></div>
							</div>
					</div>
				</div>